<header class="mdc-top-app-bar">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <button class="mdc-icon-button material-icons mdc-top-app-bar__navigation-icon--unbounded"
              routerLink="/index">
        <i class="material-icons">landscape</i>
      </button>
      <span class="mdc-top-app-bar__title">Tourist App</span>
    </section>
    <section *ngIf="!userIsAuthorized()" class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
      <button class="mdc-button mdc-button--unelevated"
              type="submit"
              name="sign_in"
              (click)="openSignInDialog()">Sign In</button>
      <button class="mdc-button mdc-button--unelevated"
              type="submit"
              name="sign_up"
              (click)="openSignUpDialog()">Sign Up</button>
    </section>
    <section *ngIf="userIsAuthorized()" class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
      <button (click)="clickToggle()" class="mdc-icon-button material-icons mdc-top-app-bar__navigation-icon--unbounded">
        <i class="material-icons">account_circle</i>
      </button>
      <strong>{{user.name}} {{user.surname}}</strong>
    </section>
  </div>
  <app-user-profile></app-user-profile>
</header>
