<div [hidden]="!submitted">
  <h2 align="center">Check your email for confirmation.</h2>
</div>

<div [hidden]="submitted">
  <h1 mat-dialog-title align="center">Sign Up</h1>
  <div mat-dialog-content class="form-container">
    <mat-form-field>
      <input placeholder="First Name" matInput [(ngModel)]="data.name" required>
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Last Name" matInput [(ngModel)]="data.surname">
    </mat-form-field><br>
    <mat-form-field>
      <input placeholder="Email" matInput [formControl]="email" [(ngModel)]="data.email" required>
      <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field><br>
    <mat-form-field>
      <input placeholder="Password" matInput [(ngModel)]="data.password" [type]="passwordHide ? 'password' : 'text'" required>
      <button mat-icon-button matSuffix (click)="passwordHide = !passwordHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide">
        <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <mat-dialog-actions align="center">
    <button mat-raised-button class="register" ng-click="sendCredentials()">Register</button>
    <button mat-raised-button class="cancel" mat-dialog-close>Cancel</button>
  </mat-dialog-actions>  
</div>

