<mat-card class="input-card">
  <div class="tags">
    <app-trip-roles (roleEvent)="recieveRole($event)" [currentUser]="currentUser" [trip]="trip"></app-trip-roles>
  </div>
</mat-card>

  <mat-card class="mat-card-user">

    <mat-grid-list cols="4" rowHeight="3:4" gutterSize="1%" >
      <mat-grid-tile *ngFor="let user of tripUsers">
        <mat-card
          [ngStyle] = "user.roles.indexOf(activeRole) !== -1 && 
            {'background': activeRoleColor}"
          [ngClass]="{glowingBorder: (activeRole > 0 || user.user_id === userId),
          activeBorder: isPersonalInventory}"
          (click)="(activeRole > 0 && toggleRole(user.user_id)) ||
          (user.user_id === userId && togglePersonalInventory())">
          <button class="close" (click)="openDialog(user)" 
          *ngIf="(user.user_id != currentUser.user_id) && (currentUser.user_id == trip.admin_id)">
            <i class="material-icons">close</i>
          </button>
          <!-- <p>{{user.user_id}} and {{currentUser.user_id}} and {{trip.admin_id}}</p> -->
          <img mat-card-avatar src="{{user.avatar}}" alt="User Avatar">
          <mat-card-subtitle><strong>{{user.name}}</strong></mat-card-subtitle>
          <mat-card-subtitle *ngIf="user.surname" style="display: inline"><strong>{{user.surname}}</strong></mat-card-subtitle>
          <br>
          <mat-card-subtitle *ngIf="activeRole > 0 && isUserAdmin(user.user_id)" class="admin-icon"><mat-icon>star</mat-icon></mat-card-subtitle>
          <mat-card-subtitle *ngIf="itemIsSelected">
            <input matInput type="number" min="0" placeholder="Value" [(ngModel)]="user.itemsAmount">
          </mat-card-subtitle>
          <mat-card-footer style="text-align: center">
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
            <p class="progress-value">10/{{user.capacity}}</p>
          </mat-card-footer>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
