<p>create-trip-page works!</p>
<p>create-trip-page works!</p>
<div>
    <h1>Create new trip: {{trip.name}} {{trip.startDate}} {{trip.endDate}}</h1>
    <div> {{trip.description}}</div>

    <label>name:
        <input [(ngModel)]="trip.name" placeholder="trip name"/>
    </label>
    <label>start date:
        <input [(ngModel)]="trip.startDate" placeholder="start date"/>
    </label>
    <label>end date:
        <input [(ngModel)]="trip.endDate"  placeholder="dd/mm/year"/>
    </label>
    <label>description:
        <input [(ngModel)]="trip.description" placeholder="dd/mm/year"/>
    </label>
</div>
<app-map></app-map>
<button  (click)="create_trip()" >Create Trip</button>


