.create_trip_container{
    width: 98vw;
    height: 80vh;
    position: fixed;
    top: 8vh;
    /*margin: auto;*/
    /*background-color: crimson;*/
}
.right{
    width: 84vw;
    float: right;
}
.left {
    width: 14vw;
    float: left;
}
.mat-form-field.mat-form-field{
    margin-left: 40px;
    margin-top: 20px;
}
.center{
    text-align: center;
}
.mat-form-field{
    margin-right: 5px;
    margin-left: 5px;
}


