<div  class="create_trip_container" >
    <div  class="center" >
        <h1 class="mat-card-title">Create new trip: </h1>
    </div>
    <div class="right"><app-map></app-map>
    </div>
    <div class="left">
        <h2 align="center">Edit data</h2>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="trip name" value= {{trip.name}}  [formControl]="TripName">
        </mat-form-field>
        <mat-form-field>
                <input matInput [matDatepicker]="picker1" [min] = "today" placeholder="Start date"
                       [formControl]="StartDate" (dateChange)="onDate($event)">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1 ></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
                <input matInput [matDatepicker]="picker2" [min]="StartDate.value"  placeholder="End date"
                       [formControl]="EndDate" (dateChange)="onDate($event)">
                <mat-datepicker-toggle matSuffix [for]="picker2" ></mat-datepicker-toggle>
                <mat-datepicker #picker2 [startAt]="StartDate.value"  ></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <textarea matInput
                      [formControl]= "TripDescription"
                      #message maxlength="500"
                      placeholder="Description"
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="5"
                      cdkAutosizeMaxRows="15">
</textarea>
            <mat-hint align="start"> </mat-hint>
            <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
        </mat-form-field>

    </div>
    <button mat-raised-button color="primary" [disabled]=button_disabled  (click)="create_trip()" >Create Trip</button>
</div>



