agm-map{
    height:80vh;
    width: 45vw;
}
#container {
    height:60vh;
    width: 90vw;
}

#left1 {
    float:left;
    height:100%;
    width: 15%;
}

#right1 {
    float:right;
    height:100%;
    margin-right: 5%;
    width: 75%;
}

.mat-list {
margin-left: 40px;
}

a{
    cursor: pointer;
}
