agm-map{
    height:100%;
    width: 100%;
}
#container {
    height:100%;
    width: 100%;
}

#left1 {
    float:left;
    height:100%;
    width: 265px;
}

#right1 {
    float:right;
    height:100%;
    margin-right: 25px;
    width: calc(100% - 290px);
}

.mat-list {
    margin-left: 40px;
    margin-right: 20px;
    max-height: 89%;
    overflow: auto;
}

a{
    cursor: pointer;
}

.list .mat-list .mat-list-item .mat-multi-line .mat-list-item-content {
    padding-top: 0;
    padding-bottom: 0;
}
