<!-- Header -->
<header class="mdc-top-app-bar">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <button class="mdc-icon-button material-icons mdc-top-app-bar__navigation-icon--unbounded">
        <i class="material-icons">directions_walk</i>
      </button>
      <span class="mdc-top-app-bar__title">Tourist App</span>

      <!-- TODO: delete ng-tempate tag after testing -->
      <ng-template [ngIf]="email && password">
        <h2> Email is: {{ email }} </h2>
        <h2> Password is: {{ password }} </h2>
        <h2> Name: {{ firstname }} Surname: {{ lastname }} </h2>
      </ng-template>

    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
      <button class="mdc-button mdc-button--unelevated"
              type="submit"
              name="sign_in"
              (click)="openSignInDialog()">Sign In</button>
      <button class="mdc-button mdc-button--unelevated"
              type="submit"
              name="sign_up"
              (click)="openSignUpDialog()">Sign Up</button>
    </section>
  </div>
</header>

<div class="root__container">

  <!-- Main content -->
  <main class="wrapper-main">
    <button class="mdc-button mdc-button--unelevated" type="submit" name="create_trip">Create Trip</button>
  </main>

  <!-- Footer -->
  <footer class="main__footer">
    <small class="copyright__text">Copyright © 2019 Tourist app</small>
  </footer>

</div>
