/*
================
    Header
================
*/
.mdc-top-app-bar {
  background-color: #44505f;
}

.mdc-button.mdc-button--unelevated {
  background-color: #5090ce;
  margin-right: 30px;
  padding: 0.1rem 2rem;
}

/*
================
    Main
================
*/
.root__container {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/images/trip_background.jpg);
  background-size: cover;
}

.wrapper-main .mdc-button.mdc-button--unelevated {
  position: absolute;
  bottom: 10%;
  right: 5%;
  height: 70px;
  width: 230px;
  font-size: 1.3rem;
  background-color: #009c75;
}

/*
================
    Footer
================
*/
.main__footer {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
}

.copyright__text {
  letter-spacing: 0.1rem;
  color: white;
  font-family: Roboto;
}
