<div class="left">
  <mat-card class="input-card">
    <mat-form-field class="item-name-width">
      <input matInput placeholder="Item name" [(ngModel)]="name">
    </mat-form-field>
    <mat-form-field class="example-margin">
      <input matInput type="number" placeholder="kg" [(ngModel)]="weight">
    </mat-form-field>
    <mat-form-field class="example-margin">
      <input matInput type="number" placeholder="units" [(ngModel)]="amount">
    </mat-form-field>
    <button mat-mini-fab (click)="addItem()">+</button>
  </mat-card><br>
</div>
