.input-card {
  height: 65px;
  padding-top: 0px;
  margin-bottom: 0px;
}
.item-name-width {
  width: 30%;
  padding: 0px;
  margin: 0px;
  margin-left: 10px;
}
.tag-width {
  width: 20%;
}
.example-margin {
  margin-left: 10px;
  width: 15%;
}
button.mat-mini-fab {
  background-color: green;
  color: white;
  margin-left: 10px;
}
table {
  width: 100%;
}
th {
  background-color: #79c1e5;
  color: white;
}
.mat-card.main-card {
  overflow: auto;
  max-height: 70%;
}
.role-color {
  width: 50%;
}
.tag-color-line {
  height: 10px !important;
}