
  <mat-card class="input-card">
    <mat-form-field class="item-name-width">
      <input matInput placeholder="Item name" [(ngModel)]="name">
    </mat-form-field>
    <mat-form-field class="example-margin">
      <input matInput type="number" placeholder="kg" [(ngModel)]="weight">
    </mat-form-field>
    <mat-form-field class="example-margin">
      <input matInput type="number" placeholder="units" [(ngModel)]="quantity">
    </mat-form-field>
    <mat-chip (click)="addItem()">
      <i class="material-icons">add</i>
    </mat-chip>
  </mat-card>

  <mat-card class="main-card">
    <table>
      <tr>
        <th *ngFor="let col of displayedColumns">
          <h5>{{col | uppercase}}</h5>
        </th>
      </tr>
      <tr *ngFor="let item of tripItems">
        <td>{{item.name}}</td>
        <td>{{item.weight}}</td>
        <td>{{item.quantity}}</td>
      </tr>
    </table>
  </mat-card>
