.input-card {
  height: 60px;
  padding-top: 0px;
  margin-bottom: 0px;
}
.item-name-width {
  width: 40%;
  padding: 0px;
  margin: 0px;
}
.example-margin {
  margin-left: 10px;
  width: 20%;
}
button.mat-mini-fab {
  background-color: green;
  color: white;
  margin-left: 10px;
}
table {
  width: 100%;
}
th {
  background-color: #79c1e5;
  color: white;
}
.mat-card.main-card {
  overflow: auto;
  max-height: 80%;
}
