.new-trip:disabled {
    background-color: rgb(78, 75, 75);
}
.list-container {
    position: relative;
    top: 80px;
    width: 70vw;
    margin: auto;
}
.header-container {
    background-color: #fafafa;
    top: 80px;
    width: 70vw;
    margin: auto;
}
.date-field {
    width: 60%;
}
.status-field {
    float: left;
    width: 50%;
}
.active-row {
    height: 5vh;
}
.active-row:hover {
    background-color: #969797e7;
}
.active-row:active {
    background-color: white;   
}