.button-container {
    top: 100px;
    position: relative;
    text-align: center;
}
.new-trip:disabled {
    background-color: rgb(78, 75, 75);
}
.list-container {
    position: relative;
    top: 80px;
    width: 70vw;
    margin: auto;
}
.date-field {
    width: 60%;
}
.status-field {
    float: left;
    width: 50%;
}
.trip-row {
    height: 5vh;
}
