.list-container {
    position: relative;
    top: 70px;
}

mat-grid-tile {
    background: lightblue;
}
mat-list-item {
    position: relative;;
}

.child-list {
    margin: auto;
    padding: 7px;
    position: relative;
    width:80%;
    height:80%;
    text-align: center;
}