<div class="user-profile_container">
    <mat-sidenav-container>
        <mat-sidenav #sidenav mode="side" position="end">
            <mat-list class="user-information">
                <mat-list-item><button mat-raised-button class="edit">Edit profile</button></mat-list-item>
                <mat-list-item><button mat-raised-button class="edit"  (click)="navigateToTripList()">Show my trips</button></mat-list-item>
                <mat-list-item class="avatar-container"><img class="mat-card-avatar" src="{{user.avatar}}"></mat-list-item>
                <mat-list-item>Email: {{user.email}}</mat-list-item>
                <mat-list-item>Name: {{user.name}}</mat-list-item>
                <mat-list-item *ngIf="user.surname">Surname: {{user.surname}}</mat-list-item>
                <mat-list-item>Capacity: {{user.capacity}}</mat-list-item>
                <mat-list-item>
                    <button mat-raised-button class="edit" (click)="toggleCalculateForm()">Calculate capacity</button>
                </mat-list-item>
                <mat-card *ngIf="calculateFormOpened">
                    <mat-radio-group aria-label="Select a gender" [(ngModel)]="gender" [formControl]="userGender">
                        <mat-radio-button value="male">Male</mat-radio-button>
                        <mat-radio-button value="female">Female</mat-radio-button>
                    </mat-radio-group><br>
                    <mat-form-field class="input-width">
                        <input matInput type="number" min=1 max=1000 placeholder="height, cm" [formControl]="userHeight" #height>
                        <mat-error *ngIf="userHeight.invalid">{{ getHeightErrorMessage() }}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="input-width">
                        <input matInput type="number" min=1 max=1000 placeholder="weight, kg" [formControl]="userWeight" #weight>
                        <mat-error *ngIf="userWeight.invalid">{{ getWeightErrorMessage() }}</mat-error>
                    </mat-form-field><br><br>
                    <button mat-raised-button class="confirm" (click)="changeCapacity(height.value, weight.value)" [disabled]="capacityDataInvalid()">OK</button>
                    <button mat-raised-button class="cancel" (click)="toggleCalculateForm()">Cancel</button>
                </mat-card>
                <mat-list-item><button mat-raised-button class="edit" (click)="togglePasswordForm()">Change password</button></mat-list-item>
                <mat-card *ngIf="passwordFormOpened">
                    <div style="text-align: center;">
                        <mat-form-field class="">
                            <input matInput type="password" placeholder="Old password" [formControl]="oldPassword" #oldPass>
                            <mat-error *ngIf="oldPassword.invalid">{{ getPasswordErrorMessage(oldPassword) }}</mat-error>
                        </mat-form-field><br><br>
                        <mat-form-field class="">
                            <input matInput type="password" placeholder="New password" [formControl]="newPassword" #newPass>
                            <mat-error *ngIf="newPassword.invalid">{{ getPasswordErrorMessage(newPassword) }}</mat-error>
                        </mat-form-field><br><br>
                        <mat-form-field class="">
                            <input matInput type="password" placeholder="Repeat new password" [formControl]="confirmPassword">
                            <mat-error *ngIf="confirmPassword.invalid">{{ getPasswordGroupErrorMessage(confirmPassword) }}</mat-error>
                        </mat-form-field><br><br><br>
                    </div>
                    <button mat-raised-button class="confirm" (click)="updatePassword(newPass.value, oldPass.value)" [disabled]="passwordDataInvalid()">OK</button>
                    <button mat-raised-button class="cancel" (click)="togglePasswordForm()">Cancel</button>
                </mat-card>
                <mat-list-item><button mat-raised-button name="logout" (click)="logoutUser()"
                                       class="mdc-button mdc-button--unelevated">Logout</button></mat-list-item>
            </mat-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
