<div class="user-profile_container">
    <mat-sidenav-container>
        <mat-sidenav #sidenav mode="side" position="end">
            <mat-list class="user-information">
                <mat-list-item><button mat-raised-button class="edit">Edit profile</button></mat-list-item>
                <mat-list-item><button mat-raised-button class="edit"  (click)="navigateToTripList()">Show my trips</button></mat-list-item>
                <mat-list-item class="avatar-container"><img class="mat-card-avatar" src="{{user.avatar}}"></mat-list-item>
                <mat-list-item>Email: {{user.email}}</mat-list-item>
                <mat-list-item>Name: {{user.name}}</mat-list-item>
                <mat-list-item *ngIf="user.surname">Surname: {{user.surname}}</mat-list-item>
                <mat-list-item>Capacity: {{user.capacity}}</mat-list-item>
                <mat-list-item>
                    <button mat-raised-button class="edit" (click)="displayCalculateForm=true">Calculate capacity</button>
                </mat-list-item>
                <mat-card *ngIf="displayCalculateForm">
                    <mat-radio-group aria-label="Select a gender">
                            <mat-radio-button value="male">Male</mat-radio-button>
                            <mat-radio-button value="female">Female</mat-radio-button>
                    </mat-radio-group><br>
                    <mat-form-field class="input-width">
                        <input matInput type="number" placeholder="Height" [formControl]="userHeight" [(ngModel)]="height">
                    </mat-form-field>
                    <mat-form-field class="input-width">
                        <input matInput type="number" placeholder="Weight" [formControl]="userWeight" [(ngModel)]="weight">
                    </mat-form-field>
                    <button mat-raised-button class="calc">OK</button>
                    <button mat-raised-button class="cancel" (click)="displayCalculateForm=false">Cancel</button>
                </mat-card>
                <mat-list-item><button mat-raised-button class="edit">Change password</button></mat-list-item>
                <mat-list-item><button mat-raised-button name="logout" (click)="logoutUser()"
                                       class="mdc-button mdc-button--unelevated">Logout</button></mat-list-item>
            </mat-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
<!--            <button (click)="sidenav.toggle()">Toggle</button>-->
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
